.amo {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: 1rem;
    padding: 0.5rem 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform: translateX(-85%);
    transition: transform 1s ease;
    letter-spacing: 1px;
    z-index: 9;
    min-width: 185px;
    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 3rem;
        padding-left: 0.5rem;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &:hover {
        transform: translateX(0);
        transition: transform 1s ease;
    }
}
