<div class="project" *ngIf="pr">
    <div>
        <img *ngIf="pr.img!=''; else indBlock" src="{{pr.img}}" alt="Project Image Attiapp" class="mb-3 unselectable">
        <ng-template #indBlock>
            <img src="assets/img/projects/pred.png" alt="Project Image Attiapp" class="mb-3 unselectable">
        </ng-template>
        <div class="px-2">
            <div class="project-title text-start">{{pr.name}}</div>
            <div class="project-description text-start mt-1">{{pr.description}}</div>
        </div>
    </div>
</div>