<div class="timeline-history text-theme-dark">
    <h1 class="fw-bold mb-5"><i [class]="fw_icon + ' me-4 '" *ngIf="fw_icon"></i>{{title}}</h1>
    <div class="timeline">
        <div class="moment ps-4 pt-1 pb-5  position-relative" *ngFor="let tl of timeline">
            <div class="dot"><i class="fas fa-circle"></i></div>
            <h3 class="fw-bold mb-0 text-theme-secondary">{{tl.title}} </h3>
            <h6 class="headline fw-bold  mb-0">{{tl.headline}}</h6>
            <h6 class="date mb-0">
                <span>{{ showDate(tl.date.start, date_format) }}</span>
                -
                <span>{{tl.date.end ? showDate(tl.date.end, date_format):i18s.getValue("cv.current")}}</span>
            </h6>
            <div class="content pl-3 pt-2" slot="content" [innerHTML]="tl.content"></div>
        </div>
    </div>
</div>