<div class="timeline-history text-theme-dark">
    <h1 class="fw-bold title-1 mb-5"><i [class]="fw_icon + ' me-4 '" *ngIf="fw_icon"></i>{{title}}</h1>
    <div class="timeline">
        <div class="moment px-3 pt-1 pb-5  position-relative" *ngFor="let tl of timeline">
            <div class="dot"><i class="fas fa-circle"></i></div>
            <h5 class="headline fw-lighter font-size-100 mb-0">{{tl.headline}}</h5>
            <h4 class="title fw-bold font-size-125 mb-0">{{tl.title}} </h4>
            <p class="date mb-0">
                <span>{{ showDate(tl.date.start, date_format) }}</span>
                -
                <span>{{tl.date.end ? showDate(tl.date.end, date_format):i18s.getValue("cv.current")}}</span>
            </p>
            <div class="content pl-3 pt-2" slot="content" [innerHTML]="tl.content"></div>
        </div>
    </div>
</div>