.timeline {
    .moment {
        border-left: 3px solid  rgba(var(--dark-color-rgb), 0.1) ;
        .dot {
            position: absolute;
            top: 24px;
            left: -9.5px;
            color: var(--secondary-color);
            
        }
    }
    .content ul {
        list-style: inherit;
    }
}
