// Global
a {
    text-decoration: none;
    color: var(--dark-color);
}

#resources-content {
    opacity: 0;
    animation: slide-in 1s ease-in forwards;
    color: var(--dark-color);

    .category-filter-active {
        font-size: 1.25rem;
        font-weight: bold;
        color: var(--dark-color);
    }

    .t-resources.mobile-version,
    .category-filter-active.mobile-version {
        display: none;
    }

    //Header Section
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
            font-size: 2rem;
            font-weight: bold;
        }

        .category-filter-mobile {
            display: flex;
            align-items: center;
            background-color: var(--dark-color);
            color: var(--light-color);
            border-radius: 10px;

            svg {
                font-size: 1.2rem;
                transform: rotate(-90deg);
                transition: transform 0.5s ease;
            }

            &.active {
                svg {
                    transform: rotate(0deg);
                    transition: transform 0.5s ease;
                }
            }
        }
    }
    .filter-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (min-width: 767.5px) and (max-width: 1199.5px) {
            flex-direction: column;
            align-items: flex-start;
            .category-filter-active {
                margin-bottom: 0.75rem;
            }
        }

        .category-filter {
            transition: height 0.5s ease;

            &.show {
                display: block !important;
            }

            @media screen and (min-width: 767.5px) {
                justify-content: right;
            }
            .category {
                background-color: var(--dark-color);
                color: var(--light-color);
                border-radius: 5px;
                text-transform: capitalize;
                font-size: 1.05rem;
                transform: scale(1);
                transition: transform 0.3s ease;

                @media screen and (max-width: 1199.5px) {
                    font-size: 0.85rem;
                    &:active {
                        transform: scale(0.9);
                        transition: transform 0.1s ease;
                    }
                }
                &.active {
                    background-color: var(--light-color);
                    border: 1px solid var(--dark-color);
                    color: var(--dark-color);
                }
                @media screen and (min-width: 1199.5px) {
                    &:hover {
                        cursor: pointer;
                        transform: scale(0.9);
                        transition: transform 0.4s ease;
                    }
                }
            }
        }
    }
}

// Viewer Selector
.tools-row {
    color: var(--dark-color);
    font-size: 1.25rem;
    .dice-icon {
        display: flex;
        align-items: center;
        transform: scale(1);
        transition: transform 0.4s ease;
        cursor: pointer;
        svg {
            transform: rotate(-45deg);
        }
        span {
            font-size: 1rem;
        }

        @media (hover: none) {
            &:active {
                color: var(--secondary-color);
                transform: scale(0.9);
                transition: transform 0.4s ease;
            }
        }
        @media (hover: hover) {
            &:hover {
                color: var(--secondary-color);
                transform: scale(0.9);
                transition: transform 0.4s ease;
            }
        }
    }
    #viewer-selector {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .viewer-icon {
            transform: scale(1);
            transition: transform 0.4s ease;
            cursor: pointer;
            @media (hover: none) {
                &:active {
                    color: var(--secondary-color);
                    transform: scale(0.9);
                    transition: transform 0.4s ease;
                }
            }
            @media (hover: hover) {
                &:hover {
                    color: var(--secondary-color);
                    transform: scale(0.9);
                    transition: transform 0.4s ease;
                }
            }
        }
    }
}

//Media Queries
@media screen and (max-width: 1199.5px) {
    #resources-content {
        img {
            height: auto;
        }
    }
    .tools-row {
        margin-bottom: 1rem;
    }
}
@media screen and (min-width: 767.5px) {
    #resources-content {
        .header {
            .category-filter-mobile {
                display: none !important;
            }
        }
        #category-container {
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 767.5px) {
    #resources-content {
        width: 100%;
        .header {
            .t-resources {
                display: none;
            }
        }
        .category-filter {
            width: 100% !important;
            display: none;
            #category-container {
                flex-wrap: nowrap !important;
                overflow: auto !important;
                .category {
                    white-space: nowrap;
                }
                &::-webkit-scrollbar {
                    display: none; /* for Chrome, Safari, and Opera */
                }
            }
        }
        .category-filter-active {
            display: none;
        }
        .category-filter-active.mobile-version,
        .t-resources.mobile-version {
            display: block;
        }
        .filter-row {
            margin: auto 0 !important;
        }
        .tools-row {
            margin-left: 0.5rem;
        }
    }
}

@media screen and (max-width: 325.5px) {
    .category-filter-active.mobile-version,
    .t-resources.mobile-version {
        display: none !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}
