.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2a2d34;

    &.size-s {
        font-size: 1.25rem;
    }
    &.size-m {
        font-size: 1.5rem;
    }
    &.size-l {
        font-size: 2rem;
        &.responsive {
            @media screen and (max-width: 768px) {
                font-size: 1.5rem;
            }
            @media screen and (max-width: 465px) {
                font-size: 5vw;
            }
        }
    }
    &.size-xl {
        font-size: 4rem;
        &.responsive {
            @media screen and (max-width: 768px) {
                font-size: 2.5rem;
            }
            @media screen and (max-width: 465px) {
                font-size: 8vw;
            }
        }
    }
    &.reactive {
        color: var(--dark-color);
    }
}
