<div class="list-card-component">
    <a *ngIf="link; else listCardBody" [href]="link.href" [target]="link.target" [rel]="link.rel">
        <ng-container [ngTemplateOutlet]="listCardBody"></ng-container>
    </a>
</div>

<ng-template #listCardBody>
    <div class="row">
        <div class="col-md-4">
            <div class="d-flex align-items-center">
                <img [src]="image" class="unselectable me-3 rounded" loading="lazy">
                <h3 class="mb-0 fw-bold">{{heading}}</h3>
            </div>
        </div>
        <div class="col-md-8">
            <p class="mb-0 description">{{description}}</p>
        </div>
    </div>
</ng-template>