<div class="download-button" (click)="downloadCV()">
    <span>{{i18s.getValue("cv.download-as-pdf")}}</span>
    <div class="d-inline">
        <i class="fas fa-download ms-2"></i>
    </div>
</div>
<div id="pdf-cv-data"></div>
<div *ngIf='cv' class="cv-original" >
    <div class="cv-data ">
        <div class="cv-header">
            <div class="img-cv-profile">
                <img src="/assets/images/cv_profile.jpg" alt="" class="mx-auto rounded-circle unselectable">
            </div>
            <div class="person-information ">
                <div class="name">{{cv.name}}</div>
                <div class="plus-info">
                    <div class="area">
                        <div class="date-birth"><span>{{i18s.getValue("cv.birth-date")}}</span> - {{cv.birth_date}}
                        </div>
                        <div class="nationality"><span>{{i18s.getValue("cv.nationality")}}</span> - {{cv.nationality}}
                        </div>
                    </div>
                    <div class="area ms-3">
                        <div class="email"><span>{{i18s.getValue("cv.email")}}</span> - {{cv.email}}</div>
                        <div class="website"><span>{{i18s.getValue("cv.website")}}</span> - {{cv.website}}</div>
                    </div>
                    <div class="area ms-3">
                        <div class="direction"><span>{{i18s.getValue("cv.direction")}}</span> - {{cv.address}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cv-description-person">
            {{cv.person_description}}
        </div>
        <div class="cv-information">
            <div class="important-info row">
                <div class="area col-lg-6">
                    <div class="title">{{i18s.getValue("cv.work-experience")}}</div>
                    <div class="work-history">
                        <div class="work-row" *ngFor="let w of cv.work_experience">
                            <div class="dot"><i class="fas fa-circle"></i></div>
                            <div class="date">
                                <span>{{w.date_start}}</span>
                                -
                                <span *ngIf="w.date_end;else now">{{w.date_end}}</span>
                                <ng-template #now>{{i18s.getValue("cv.current")}}</ng-template>
                            </div>
                            <div class="position">{{w.job_position}} </div>
                            <div class="company">{{w.company}} - {{w.location}}</div>
                            <div class="description">
                                <ul>
                                    <li *ngFor="let a of w.achievements">{{a}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="area col-lg-6">
                    <div class="title">{{i18s.getValue("cv.education")}}</div>
                    <div class="work-history">
                        <div class="work-row" *ngFor="let e of cv.education_training">
                            <div class="dot"><i class="fas fa-circle"></i></div>
                            <div class="date">{{e.date_start}} – {{e.date_end}}</div>
                            <div class="position">{{e.degree}}</div>
                            <div class="company">{{e.college}} - {{e.location}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="other-info">
                <div class="area">
                    <div class="title">{{i18s.getValue("cv.skills")}}</div>
                    <div class="skills">
                        <div class="skill rounded" *ngFor="let s of cv.skills">{{s}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>