<div class="mx-auto p-2" id="projects-content">
        <h1 class="fw-bold mb-3"><i class="fas  fa-code me-4"></i>{{i18s.getValue("projects.header")}}</h1>

    <div class="content-section">
        <div class="content mb-4">
            <div class="row m-0 p-0">
                <div class="col-xl-4 pt-4" *ngFor="let p of projects | async">
                    <a [routerLink]="['/projects', p.id]" *ngIf="p">
                        <component-card [image]="p.img" [heading]="p.name"
                            [description]="p.description"></component-card>

                    </a>
                </div>
            </div>
        </div>
    </div>
</div>