<div class="mx-auto p-2" id="projects-content">
    <div class="pb-2 header">
        <h1 class="title size-l reactive">{{i18s.getValue("projects.header")}}</h1>
    </div>
  
    <div class="content-section">
        <div class="content mb-4">
            <div class="row m-0 p-0">
                <div class="col-xl-3 pt-4" *ngFor="let p of projects | async">
                    <a [routerLink]="['/projects', p.id]">
                        <project-card [pr]=p></project-card>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>