// Global
#projects-content {
    opacity: 0;
    animation: slide-in .45s 0.35s ease-in forwards;
    color: var(--dark-color);
    .title {
        font-size: 2rem;
        font-weight: bold;
    }
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

//Media Queries
@media screen and (max-width: 1199.5px) {
    .section {
        border: none !important;
        box-sizing: border-box;
        .title {
            text-align: center;
            font-size: 1.8rem;
            margin: 0.5rem 0;
            display: none;
            span {
                border: none;
            }
        }
    }
}
@media screen and (max-width: 767.5px) {
    #projects-content {
        width: 100%;
    }
}
