<div class="modal-container position-fixed start-0 top-0 z-2" *ngIf="show" @fadeInOutAnimation>
    <div class="w-100 h-100 position-absolute bg-theme-light opacity-50 d-block pe-none z-1"></div>
    <div class="p-1 position-relative z-2 h-100 modal-body">
        <div class="d-block bg-theme-dark  p-4 rounded h-100">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="fw-bold text-theme-light mb-0">{{title}}</h2>
                <button class="button-unstyled p-0" (click)="show = !show">
                    <icon-close-button class="svg-path-light d-flex align-items-center " [width]="40"
                        [height]="40"></icon-close-button>
                </button>
            </div>
            <div class="bg-theme-light mt-4 rounded p-3">
                <ng-content></ng-content>
            </div>
        </div>

    </div>
</div>