form {
    height: 80vh;
    & > div {
        @media screen and (min-width: 768px) {
            width: 522px;
        }
    }
}

.btn-login-icon {
    color: var(--light-color);
    background: var(--dark-color);
    cursor: pointer;
    transition: transform 0.05s ease;
    transform: scale(1);

    svg {
        width: 20px;
        height: 20px;
    }
    &:active,
    &:focus {
        transform: scale(0.95);
    }
}

.btn-login {
    color: var(--dark-color);
    background: none;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    width: max-content;
    font-size: 1.5rem;
    letter-spacing: 2px;
    &:active,
    &:focus {
        color: var(--secondary-color);
    }
}
