<header class="position-sticky z-2 start-0 top-0 py-4 ">
    <div class="container-fluid container-lg  d-flex align-items-center justify-content-between">
      <a class="hover-animation-rotate-reverse-180 unselectable text-decoration-none fw-bold d-flex align-items-center "
        routerLink="">
        <icon-bed [width]="30" [height]="30"></icon-bed>
        <span class="ms-2 font-size-lg-125">Gabriel Alexandru Botas</span>
      </a>
      <hamburger-menu class="d-md-none" [pages]="portalManager.pages()"></hamburger-menu>
      <ul class="d-md-flex align-items-center p-0 m-0  menu-links d-none font-size-125">
        <li class="me-4" *ngFor="let page of portalManager.pages()">
          <portal-link [page]="page"></portal-link>
        </li>
        <theme-button></theme-button>
      </ul>
    </div>
  </header>