.download-button {
    font-size: 1.15rem;
    text-align: right;
    margin-left: auto;
    color: var(--dark-color);
    cursor: pointer;
    width: max-content;
    transition: color 0.3s ease;
    &:hover {
        color: var(--secondary-color);
        transition: color 0.3s ease;
    }
    @media screen and (max-width: 1024px) {
        margin: 2rem auto 4rem auto;
        text-align: center;
    }
}
.cv-description-person {
    color: var(--dark-color);
    margin: 2rem 0;
}

.cv-data {
    .cv-generator-information {
        display: none;
        margin: 0 0 5rem 1rem;
        font-weight: bold;
        font-size: 1.25rem;
        letter-spacing: 2px;
        color: var(--dark-color);
    }
    .cv-header {
        * {
            text-align: left;
        }
        display: flex;
        align-items: center;
        color: var(--dark-color);
        margin-bottom: 2rem;

        .img-cv-profile {
            width: 150px;
            height: 150px;
            img {
                border: 2px solid #fff;
                box-shadow: rgba(var(--dark-color-rgb), 0.07) 0px 1px 1px, rgba(var(--dark-color-rgb), 0.07) 0px 2px 2px,
                    rgba(var(--dark-color-rgb), 0.07) 0px 4px 4px, rgba(var(--dark-color-rgb), 0.07) 0px 8px 8px,
                    rgba(var(--dark-color-rgb), 0.07) 0px 16px 16px;
                height: 100%;
            }
        }
        .person-information {
            padding-left: 1rem;
            width: 100%;
            div {
                span {
                    font-weight: bold;
                }
            }
            .name {
                font-weight: bold;
                font-size: 2rem;
                padding-bottom: 0.5rem;
                border-bottom: 2px solid var(--dark-color);
            }
            .plus-info {
                padding-top: 0.5rem;
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                .area {
                    div {
                        margin-top: 0.25rem;
                    }
                }
            }
        }
        @media screen and (max-width: 1024px) {
            .img-cv-profile {
                display: none;
            }
            .person-information {
                padding-left: 0;
                width: 100%;
                .plus-info {
                    .area {
                        margin-left: 0 !important;
                        div {
                            margin: 0.25rem;
                        }
                    }
                }
            }
        }
    }
    .cv-information {
        * {
            text-align: left;
        }

        .important-info {
            justify-content: space-between;
            display: flex;
            @media screen and (max-width: 1024px) {
                flex-wrap: wrap;
            }
        }
        .other-info {
            margin-top: 2rem;
        }
        .area {
            .title {
                font-size: 1.5rem;
                font-weight: bold;
                padding-bottom: 0.25rem;
                color: var(--light-color);
                background-color: var(--dark-color);
                width: max-content;
                padding: 0.25rem 0.75rem;
            }

            .skills {
                color: var(--dark-color);
                display: flex;
                flex-wrap: wrap;
                padding-top: 1rem;
                .skill {
                    padding: 0.25rem 0.75rem;
                    font-weight: 300;
                    color: var(--light-color);
                    background-color: var(--dark-color);
                    margin: 0.5rem;
                }
            }
            .work-history {
                .work-row {
                    color: var(--dark-color);
                    padding: 1rem;
                    border-left: 3px solid var(--dark-color);
                    margin-left: 1rem;
                    position: relative;
                    .dot {
                        position: absolute;
                        top: 42px;
                        left: -10px;
                        color: var(--dark-color);
                    }
                    .date {
                        line-height: 20px;
                    }
                    .position {
                        font-size: 1.5rem;
                        font-weight: bold;
                    }
                    .company {
                        font-weight: lighter;
                    }
                    .description {
                        padding-left: 1rem;
                        ul {
                            list-style: inherit;
                        }
                        @media screen and (max-width: 1024px) {
                            padding-left: 0;
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

#momentDIVPDF {
    overflow: hidden;
    height: 0;
    .cv-data {
        .cv-generator-information {
            display: block;
        }
        .cv-header {
            .img-cv-profile {
                display: none ;
            }
            .person-information {
                padding-left: 0rem;
            }
        }
    }
}
