$uxia-error: #cc2936;
$uxia-success: #4bb543;
$uxia-warning: #e55f05;

.uxia {
    position: relative;
    border-radius: 5px;
    background-color: #2a2d34;
    color: #f2fbe0;
    width: 100%;
    margin-top: 10px;
    transform: translateX(0);

    &:hover {
        opacity: 1 !important;
    }

    &:not(:hover) {
       animation: slide 1s 5.5s reverse forwards;
    }

    &.success {
        border-left: 10px solid $uxia-success;
        .header {
            .close-button {
                &:hover {
                    color: $uxia-success;
                }
            }
        }
    }
    &.warning {
        border-left: 10px solid $uxia-warning;
        .header {
            .title {
                border-bottom: 3px solid $uxia-warning;
            }
            .close-button {
                &:hover {
                    color: $uxia-warning;
                }
            }
        }
    }

    &.error {
        border-left: 10px solid $uxia-error;
        .header {
            .title {
                border-bottom: 3px solid $uxia-error;
            }
            .close-button {
                &:hover {
                    color: $uxia-error;
                }
            }
        }
    }
    .header {
        font-weight: bold;
        font-size: 1rem;
        letter-spacing: 1px;
        .title {
            border-radius: 4px;
        }
        .close-button {
            cursor: pointer;
            color: #f2fbe0;
            transition: color 0.25s ease;
            font-size: 1.5rem;
            &:hover {
                transition: color 0.25s ease;
            }
        }
    }
    .message {
        font-size: 0.9rem;
        letter-spacing: 1px;
    }
}

@keyframes slide {
    from {
        transform: translateX(-120%);
    }
    to {
        transform: translateX(0);
    }
}
