<ap-home *ngIf="isLogged"></ap-home>

<div *ngIf="portfolio" id="portfolio-home-page">
    <div class="image-me d-flex">
        <img [src]="portfolio.img" alt="" class="size-l apply-mobile-style border-solid-white" loading="lazy">
    </div>

    <div class="my-4">
        <h1 class="title size-xl reactive">{{portfolio.name}}</h1>
        <h2 class="title size-l reactive">{{portfolio.ocupation}}</h2>
    </div>

    <div class="about-me  my-4">
        <p class="text-start my-3" *ngFor="let paragraph of portfolio.about_me">
            {{paragraph}}
        </p>
    </div>

    <div class="social-links d-flex align-items-center flex-wrap ">
        <ng-container *ngFor="let sm of portfolio.social_media.sections">
            <ng-container *ngIf="sm.target; else pageLink ">
                <a class="social-media-button" [href]="sm.url" [target]="sm.target">
                    <i class="{{sm.icon}} me-2"></i>
                    <span>{{sm.text}}</span>
                </a>
            </ng-container>
            <ng-template #pageLink>
                <a class="social-media-button" [routerLink]="sm.url">
                    <i class="{{sm.icon}} me-2"></i>
                    <span>{{sm.text}}</span>
                </a>
            </ng-template>
        </ng-container>
    </div>
</div>