#portfolio-home-page {
    opacity: 0;
    animation: slide-in 0.45s 0.35s ease-in forwards;
}

.about-me {
    font-size: 1rem;
    letter-spacing: 2px;
    color: var(--dark-color);

    @media screen and (max-width: 465px) {
        font-size: 3.5vw;
    }
}
.about-me,
.social-links,
.image-me {
    width: 50vw;
    @media screen and (max-width: 1200px) {
        width: 75vw;
    }
    @media screen and (max-width: 990px) {
        width: 100%;
        &.image-me {
            * {
                margin: 0 auto;
            }
        }
    }
}

.social-media-button {
    text-decoration: none;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    svg {
        font-size: 1.25rem;
    }
    @media screen and (max-width: 465px) {
        svg {
            font-size: 5.25vw;
        }
        font-size: 5vw;
    }
    transform: scale(1);
    transition: all 0.25s ease;
    border-radius: 10px;
    background-color: var(--dark-color);
    color: var(--light-color);
    width: max-content;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0.25rem;
    position: relative;
    text-align: center;
    &:active,
    &:focus {
        transform: scale(0.9);
    }
    @media screen and (min-width: 1200px) {
        &:hover {
            transform: scale(0.9);
        }
    }
}
