a {
    text-decoration: none;
}

#navigation-menu {
    background-color: rgba(var(--nav-background-color-rgba)) !important;
    box-shadow:
        rgba(var(--dark-color-rgb), 0.05) 0px 6px 24px 0px,
        rgba(var(--dark-color-rgb), 0.08) 0px 0px 0px 1px;
    z-index: 99;
    * {
        color: var(--dark-color);
    }

    .website-logo {
        font-weight: bold;
        transform: rotate(0deg);
        transition: transform 0.5s ease;

        svg {
            width: 35px;
            height: 35px;
        }
        &:hover {
            transform: rotateX(-180deg);
            transition: transform 0.6s ease;
        }
    }

    .hamburguer-menu {
        button.hamburguer {
            transform: scale(0.8);
            background-color: transparent;

            .line {
                display: block;
                width: 45px;
                height: 5px;
                background-color: var(--dark-color);
                border-radius: 4px;
                transition: transform 0.5s;
                opacity: 0.25s;
            }
            .line + .line {
                margin-top: 10px;
            }
        }

        .hamburguer-links {
            background-color: var(--light-color);
            z-index: 99;
            width: 100vw;
            height: 100dvh;
            * {
                color: var(--dark-color);
            }
            ul {
                li {
                    * {
                        font-size: 2.25rem;
                    }
                    a,
                    span {
                        cursor: pointer;
                    }
                    a {
                        &:active,
                        &:hover,
                        &:focus {
                            border-bottom: 2px solid var(--dark-color);
                        }
                    }
                }
            }
        }

        &.active {
            button.hamburguer {
                .line:nth-child(1) {
                    transform: translateY(15px) rotate(45deg);
                }
                .line:nth-child(2) {
                    opacity: 0;
                }
                .line:nth-child(3) {
                    transform: translateY(-15px) rotate(-45deg);
                }
                z-index: 100;
            }
        }
    }
    .language-selection .lang-selector,
    .theme-switcher .switcher {
        cursor: pointer;
    }
}

// Scroll Top Button
.scroll-top-button {
    border-radius: 10px;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: 2px var(--light-color) solid;
    z-index: 9;
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    box-shadow: rgba(var(--dark-color-rgb), 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
