<div class="position-sticky start-0 top-0  py-3" id="navigation-menu">
    <div class="container-fluid d-flex align-items-center container-lg">
        <a class="hover-animation-rotate-reverse-180 unselectable d-flex align-items-center text-decoration-none fw-bold text-theme-dark "
            routerLink="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" width="25" height="25">
                <path
                    d="M32 32c17.7 0 32 14.3 32 32l0 256 224 0 0-160c0-17.7 14.3-32 32-32l224 0c53 0 96 43 96 96l0 224c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-32-224 0-32 0L64 416l0 32c0 17.7-14.3 32-32 32s-32-14.3-32-32L0 64C0 46.3 14.3 32 32 32zm144 96a80 80 0 1 1 0 160 80 80 0 1 1 0-160z" />
            </svg>
            <span class="ms-2">Gabriel Alexandru Botas</span>
        </a>
        <div class="ms-auto"></div>
        <navigation-hamburger class="d-md-none" [pages]="wnc.pages"></navigation-hamburger>
        <ul class="d-md-flex align-items-center p-0 m-0  menu-links d-none font-size-125">
            <li class="me-4" *ngFor="let page of wnc.pages">
                <a [routerLink]="page.href" class="text-decoration-none"
                    [ngClass]="{'hover-animation-underline': page.navEffects}" [target]="page.target ?? ''"
                    [rel]="page.rel ?? ''" [innerHTML]="page.innerHTML"></a>
            </li>
            <component-theme-switcher></component-theme-switcher>
        </ul>
    </div>
</div>