// Global
#pr-view-content {
    width: 50vw;
    opacity: 0;
    animation: slide-in .45s 0.35s ease-in forwards;
    color: var(--dark-color);
}
a {
    text-decoration: none;
    color: var(--secondary-color);
    &:hover {
        border-bottom: 1px solid var(--secondary-color);
    }
}
.notdeployed {
    color: var(--secondary-color);
    font-weight: bold;
}

// Breadcumb
.breadcumb {
    font-size: 1.35rem;
}

// Description
.description {
    margin-left: 0.75rem;
}

// Details
.details {
    font-size: 1.1rem;
    .title {
        background-color: var(--dark-color);
        color: var(--light-color);
        border-radius: 5px;
    }
    .platform-group,
    .stack-group {
        span + span {
            &::before {
                content: " / ";
            }
        }
    }
    .website-link {
        .href_name {
            display: none;
        }
    }
}

// Preview Images
.images {
    & > div {
        img {
            width: 100%;
            border-radius: 15px;
            box-shadow: rgba(var(--dark-color-rgb), 0.35) 0px 5px 15px;
        }
    }
}

//Media Queries
@media screen and (max-width: 767.5px) {
    #pr-view-content {
        width: 100%;
        padding: 0 1rem;
    }
}
@media screen and (max-width: 767.5px) {
    .website-link {
        .href {
            display: none;
        }
        .href_name {
            display: inline-block !important;
        }
    }
}
