.row {
    margin: 0;
    padding-top: 1rem;
}

.button-resource-action {
    padding: 0.5rem 0.75rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: var(--light-color);
    color: var(--dark-color);
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.4s ease;
    &.without-background {
        background-color: inherit;
        color: #f2fbe0;
        font-weight: normal;
    }

    &:hover {
        transform: scale(0.9);
        transition: transform 0.4s ease;
    }
}
.resources-selector-column {
    overflow-y: scroll;
    background-color: var(--light-color);
    color: var(--dark-color);
    border-radius: 5px;
    padding: 0;
    position: relative;
    .selector-container-toggle {
        display: none;
        padding: 0.25rem 0.5rem;
        position: sticky;
        background-color: var(--light-color);
        z-index: 99;
        top: 0;
        width: 100%;
        left: 0;
        color: var(--dark-color);
        svg {
            transform: rotate(-90deg);
            transition: transform 0.5s ease;
        }
        &.active {
            border-bottom: 3px solid var(--dark-color);
            svg {
                transform: rotate(0deg);
                transition: transform 0.5s ease;
            }
        }
    }
    .selector-container {
        display: block;
        .search-filter {
            border-radius: 5px;
            display: flex;
            position: sticky;
            top: 0;
            left: 0;
            z-index: 1;
            input {
                width: 100%;
                padding: 0.25rem 0.5rem;
                background: var(--light-color);
                outline: none !important;
                border: none;
                border-bottom: 1px solid var(--dark-color);
            }
            .search-icon {
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
        .r-name {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            padding: 0.25rem 0.5rem;
            background-color: var(--light-color);
            color: var(--dark-color);
            transition-property: background-color, color;
            transition: 0.5s ease;
            .set-favorite {
                width: 20px;
                height: 20px;
                position: relative;

                svg {
                    &.bi-star {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: none;
                        fill: var(--dark-color);
                    }

                    &.bi-star-fill {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        display: none;
                        fill: var(--highlighted-color);
                    }
                    &.active {
                        display: block;
                    }
                }

                &:hover {
                    svg {
                        display: block;
                        &.active {
                            display: none;
                        }
                    }
                }
            }
            &:hover {
                transition-property: background-color, color;
                transition: 0.5s ease;
                background-color: var(--dark-color);
                color: var(--light-color);
                .set-favorite {
                    svg.bi-star {
                        fill: var(--light-color);
                    }
                }
            }
        }
    }
}
.resources-edit-viewer {
    overflow-y: scroll;
    .selected-resource {
        .id {
            background-color: var(--light-color);
            color: var(--dark-color);
            border-radius: 5px;
            display: flex;
            justify-content: space-between;
            font-weight: bold;
        }
        .name,
        .description,
        .category,
        .img,
        .target {
            display: flex;
            flex-direction: column;
            .input-field {
                background-color: var(--light-color);
                color: var(--dark-color);
                border-radius: 5px;
                border: 0;
                &.select {
                    &::-ms-expand {
                        display: none;
                    }
                    -moz-appearance: none;
                    -webkit-appearance: none;
                }
            }
        }
        .buttons-actions {
            .confirm-field {
                * {
                    letter-spacing: 3px;
                }
            }
        }
    }
}
.resources-edit-viewer,
.resources-selector-column {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 767.5px) {
    .resources-selector-column {
        height: max-content !important;
        .selector-container-toggle {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .selector-container {
            height: 60vh;
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .resources-edit-viewer {
        height: max-content !important;
        padding: 0 !important;
        padding-bottom: 1rem !important;
        margin-top: 2rem;
        .buttons-actions {
            font-size: 0.85rem;
            margin-top: 1rem;
        }
    }
}
