<div class="uxia-container">
  <ng-template #uxiaContainer>
  </ng-template>
</div>

<component-navigation-menu></component-navigation-menu>

<div class="py-4 container-fluid container-lg" style="min-height: 70dvh;">
  <router-outlet></router-outlet>
</div>

<div class="footer my-5 container-fluid container-lg">
  <div class="text-center language-selection d-none d-lg-flex align-items-center justify-content-center ">
    <div *ngFor="let lng of i18s.languages" class="lang-selector px-3" (click)="i18s.changeLanguage(lng.id)">
      {{lng.description}}</div>
  </div>
  <div class="text-lg-center mt-3">© <span>Alexandru Botas - {{year}}</span></div>
</div>

<!-- Loading Icon -->
<div class="loading-icon">
  <div class="bg"></div>
  <div class="loader ">
    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px" y="0px" width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;"
      xml:space="preserve">
      <path fill="#000"
        d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
        <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 25 25" to="360 25 25"
          dur="0.6s" repeatCount="indefinite" />
      </path>
    </svg>
  </div>
</div>