.uxia-container {
    position: fixed;
    top: 0;
    left: 10px;
    min-width: 350px;
    max-width: 100vw;
    z-index: 999;
}

// Footer
.footer {
    color: var(--grey-color);
    .lang-selector {
        color: var(--dark-color);
        cursor: pointer;
        &:hover {
            color: var(--grey-color);
            transition: color 0.25s;
            text-decoration: underline;
        }
    }
}




// Loading Icon
.loading-icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--light-color);
        opacity: 0.7;
        z-index: 1;
        pointer-events: none;
        display: none;
    }
    .loader {
        display: none;
        vertical-align: top;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(2);
        z-index: 2;
    }

    svg path,
    svg rect {
        fill: var(--dark-color);
    }
    &.active {
        z-index: 99;
        .bg {
            display: block;
        }
        .loader {
            display: block;
        }
    }
}