<div class="uxia-container">
  <ng-template #uxiaContainer>
  </ng-template>
</div>

<component-navigation-menu></component-navigation-menu>

<div class="pt-4 container-fluid container-md overflow-hidden" style="min-height: 70dvh;">
  <router-outlet></router-outlet>

  <footer class=" my-4">
    <div class="text-theme-grey">© 2025 Gabriel Alexandru Botas. Derechos reservados</div>
  </footer>
</div>

<button-scroll-top></button-scroll-top>

<portal-general-components></portal-general-components>