.uxia-container {
    position: fixed;
    top: 0;
    left: 10px;
    min-width: 350px;
    max-width: 100vw;
    z-index: 999;
}

header {
    background-color: rgba(var(--nav-background-color-rgba)) !important;
    box-shadow:
        rgba(var(--dark-color-rgb), 0.05) 0px 6px 24px 0px,
        rgba(var(--dark-color-rgb), 0.08) 0px 0px 0px 1px;
}