button.button-hamburger {
    transform: scale(0.8);

    &.active {
        .line:nth-child(1) {
            transform: translateY(15px) rotate(45deg);
        }

        .line:nth-child(2) {
            opacity: 0;
        }

        .line:nth-child(3) {
            transform: translateY(-15px) rotate(-45deg);
        }
    }

    .line {
        display: block;
        width: 45px;
        height: 5px;
        background-color: var(--dark-color);
        border-radius: 5px;
        transition: transform 0.5s;
        opacity: 0.25s;
    }

    .line+.line {
        margin-top: 10px;
    }
}
body:has(.button-hamburger.active) {
    overflow: hidden;
}