<div class="d-flex align-items-center justify-content-center flex-column "
    id="login-page">
    <ImageProfile [_src]="imagePath" _size="xl"></ImageProfile>
    <form class="admin-login d-flex flex-column">
        <InputDefault class="my-5" _id="password" _type="password" [_hasError]="hasError"
            [_placeholder]="i18s.getValue('admin-mode.login.input-key')" [_value]="password"
            (valueChange)="password=$event; hasError = false" classInput="p-3 border-width-1">
        </InputDefault>
        <button class="btn-login mx-auto" (click)="login()">{{i18s.getValue('admin-mode.login.button')}}</button>
    </form>
</div>