#login-page {
    opacity: 0;
    animation: slide-in .45s  0.35s ease-in forwards;
    min-height: 100%;
}

.admin-login {
    width: 325px;
    @media screen and (max-width: 465px) {
        width: 70vw;
    }
}

.btn-login {
    color: var(--dark-color);
    background: none;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    width: max-content;
    font-size: 1.5rem;
    letter-spacing: 2px;
    &:hover {
        color: var(--secondary-color);
    }
}