<form>
    <div class="d-flex flex-column  position-relative top-50 start-50 translate-middle ">
        <img [src]="imagePath" class="size-xl apply-mobile-style align-self-center mb-5" loading="lazy">
        <div class="d-flex flex-column flex-md-row">
            <input type="password" name="password" id="input-password"
                [placeholder]="i18s.getValue('admin-mode.login.input-key')" [value]="password"
                class=" p-3 border-0  rounded form-control" />

            <div class="btn-login-icon d-inline p-3 rounded d-flex justify-content-between align-items-center mt-4 mt-md-0 ms-md-4"
                (click)="login()">
                <span class="fw-bold d-md-none">{{i18s.getValue('admin-mode.login.button')}}</span>
                <i class="fas fa-sign-in-alt"></i>
            </div>
        </div>
    </div>
</form>