<!-- <ng-container  *ngIf="isLogged">
    <admin-action-history></admin-action-history>
</ng-container> -->

<div id="home-container">
    <div *ngIf="profile" class="mb-5">
        <div class="mb-4 d-flex align-items-lg-center flex-column flex-lg-row"> <img [src]="profile.image"
                class="mb-4 mx-auto mx-md-0 d-block design-1" loading="lazy" width="250px" height="250px">
            <div class="ms-lg-5">
                <h1 class="fw-bold text-theme-dark ">{{profile.name}}</h1>
                <h3 class="fw-bold  text-theme-dark ">{{profile.ocupation}}</h3>
            </div>
        </div>

        <div class="mb-4 letter-spacing-2 text-theme-dark description" [innerHTML]="profile.description_html">
        </div>

        <div class="d-flex align-items-center flex-wrap">
            <a class="font-size-125 text-center cursor-pointer d-flex align-items-center my-2 me-2 text-theme-light text-decoration-none py-2 px-4 bg-theme-dark rounded hover-animation-resize"
                href="mailto:bgabrielalexandru@gmail.com" target="_blank" rel="">
                <icon-mail class="d-flex svg-path-light" [width]="20" [height]="20"></icon-mail>
                <span class="ms-3 fw-bold">Contact me</span>

            </a>

            <a class=" font-size-125 text-center cursor-pointer d-flex align-items-center my-2 me-2 text-decoration-none text-theme-light py-2 px-4 bg-theme-dark rounded hover-animation-resize"
                href="https://www.linkedin.com/in/gabriel-alexandru-botas-795103204/" target="_blank" rel="">
                <icon-linkedin class="d-flex svg-path-light" [width]="20" [height]="20"></icon-linkedin>
                <span class="ms-3 fw-bold">Linkedin</span>
            </a>
        </div>
    </div>

</div>