<!-- <ng-container  *ngIf="isLogged">
    <admin-action-history></admin-action-history>
</ng-container> -->

<div id="home-container">
    <div *ngIf="profile" class="mb-5">
        <div class="mb-4 d-flex align-items-lg-center flex-column flex-lg-row"> <img [src]="profile.image"
                class="mb-4 mx-auto mx-md-0 d-block design-1" loading="lazy" width="250px" height="250px">
            <div class="ms-lg-5">
                <h1 class="fw-bold text-theme-dark ">{{profile.name}}</h1>
                <h3 class="fw-bold  text-theme-dark ">{{profile.ocupation}}</h3>
            </div>
        </div>

        <div class="mb-4 letter-spacing-2 text-theme-dark description" [innerHTML]="profile.description_html">
        </div>

        <div class=" d-flex align-items-center flex-wrap">
            <a *ngFor="let sm of profile.social_media"
                class=" font-size-125 text-center cursor-pointer unselectable d-flex align-items-center my-2 me-2 social-button text-decoration-none text-theme-light py-1 px-2 bg-theme-dark rounded hover-animation-resize"
                [href]="sm.href" [target]="sm.target">
                <i class="{{sm.icon}} me-2  size-25"></i>
                <span>{{sm.text}}</span>
            </a>
        </div>
    </div>
     <div class="work-timeline ">
        <component-timeline-history [title]="i18s.getValue('cv.work-experience')" fw_icon="fas fa-briefcase"
            [timeline]="work_experience"></component-timeline-history>
    </div>
</div>