label {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    width: max-content;
    text-transform: capitalize;
    margin-bottom: 0.25rem;
}

input {
    background-color: #fff;
    color: #2a2d34;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    border: 2px solid #fff;
    outline: none;
    box-shadow: none;
    width: 100%;

    &:active,
    &:focus {
        border-color: #2a2d34;
    }
    &.has-error {
        border-color: var(--error-color);
    }
    @media screen and (max-width: 465px){
        padding: 1rem;
    }
}

.has-error-text {
    color: var(--error-color);
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: lowercase;
}
