.list-card-component {
    font-size: 1rem;
    transform: translateX(0px);
    transition: transform 0.25s ease;
    margin-bottom: 2rem;

    &:active,
    &:focus {
        transform: scale(0.9);
        transition: transform 0.4s ease;
    }
  
    img {
        height: 75px;
        width: 125px;
        object-fit: cover;
    }

    a {
        text-decoration: none;
    }
    * > h3 {
        font-size: 1.15rem;
        color: var(--dark-color);
    }
    p.description {
        font-size: 0.9rem;
        text-align: left;
        color: var(--dark-color);
        overflow: hidden;
        margin-top: 1rem;

    }

    @media screen and (min-width: 992px) {
        &:hover {
            cursor: pointer;
            transform: translateX(50px);
            transition: transform 0.5s 0.25s ease;
        }
        &:active,
        &:focus {
            transform: scale(1);
            transition: none;
        }
        img {
            height: 50px;
            width: 100px;
        }
        p.description {
            text-align: right;
            margin-top: 0;
        }
    }
}
