.button-default {
    transform: scale(1);
    transition: all 0.25s ease;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--dark-color);
    color: var(--light-color);
    width: max-content;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0.25rem;
    position: relative;
    text-align: center;
    &:active,
    &:focus {
        transform: scale(0.9);
    }
    @media screen and (min-width: 1200px) {
        &:hover {
            transform: scale(0.9);
        }
    }
}
